@use "/src/scss/mixins";
@use "/src/scss/colors" as *;

.header {
  padding: 1rem 0;
  background-color: $main;
  font-size: 1.5rem;
  color: #fff;
  font-weight: 700;
}

.header button {
  @include mixins.buttonLight;
  background-color: $main;
}

.header button:hover {
  color: $main;
}

.container {
  @include mixins.container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
