@use "/src/scss/colors" as *;

@mixin buttonLight {
  border: none;
  border: 1px solid #fff;
  border-radius: 0.3rem;
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 700;

  &:hover {
    background-color: #fff;
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
  }
}

@mixin container {
  width: 85%;
  margin: 0 auto;
}

@mixin input {
  border: none;
  outline: none;
  border: 2px solid $main;
  border-radius: 0.3rem;

  &:hover,
  &:focus {
    border-color: $darker-main;
  }
}
